.create-recipe-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-recipe-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-label {
    margin-right: 1rem;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .input-error {
    color: #ff0000;
    margin-top: 4px;
  }
  
  .step-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #66afe9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container-img {
    display: flex;
    align-items: center;
  }
  
  .image-upload {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .preview-image {
    max-width: 200px;
    max-height: 200px;
  }
  
  .select-diet {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }
  
  .create-button {
    padding: 10px 20px;
    background-color: #66afe9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .selected-diets {
    margin-top: 20px;
  }
  
  .selected-diet {
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .delete-diet-button {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .delete-diet-button:hover {
    text-decoration: underline;
  }
  
  .selected-diet span {
    margin-right: 5px;
  }
  
  
  