.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row > * {
  flex-basis: calc(30% - 2rem); /* Ancho base de cada tarjeta */
  margin: 10px;
}

@media (max-width: 768px) {
  .row > * {
    flex-basis: calc(30% - 20px); /* Ancho de las tarjetas en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .row > * {
    flex-basis: calc(100% - 20px); /* Ancho de las tarjetas en pantallas aún más pequeñas */
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  }
  .page-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }