/* Estilos de las imágenes */

.diet-images {
  padding: 0.5rem;
  height: 7rem;
  background-color: #53ed5d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.diet-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.diet-image img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.diet-image span {
  color: #333;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.diet-image:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos generales */

.filter-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-row {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  flex-wrap: wrap;
}

.filter-item {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 20rem;
}

.filter-item label {
  margin-right: 10px;
  color: #333;
  font-weight: bold;
}

.filter-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  width: 10rem;
}
.bar-promo{
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-style: oblique;
  color: aliceblue;
  height: 3.5rem;
  background-color: #15238d;
  border-radius: 5px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.5);
}
.btn-promo{
  padding: 0.5rem;
  font-style: italic;
  color: #f8f8f8;
  border-radius: 2rem;
  margin: 1rem;
  background-color: #29D884;
}


@media (max-width: 720px) {
  .filter-item {
    flex-basis: 50%;
  }
  .filter-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
}

@media (max-width: 480px) {
  .filter-item {
    flex-basis: 100%;
  }
  
  .filter-row {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .filter-select:not(:first-child) {
    margin-top: 10px;
  }
}

